html, body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(15, 15, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
header{

    width: fit-content;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    color: white;

    h1{
        font-size: 3rem;
    }
    *{
        margin: 1rem;
    }
}

.help{
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid white;
    width: 30px; height: 30px;
    border-radius: 50%;
    position: relative;
}
.help:hover .helpContent{
    visibility: visible;
}
.helpContent{
    visibility: hidden;
    background-color: black;
    border: 2px solid rgb(68, 68, 68);
    color: white;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    top: 0%; left: 100%;
    width: 18rem;
    font-size: 1rem;
    text-align: left;
}

.word-rows{

    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    grid-template-columns: 60px 60px 60px 60px 60px;
    gap: 5px 5px;
    width: fit-content;
    margin: 0 auto;
    position: relative;

    div:not(.endScreen){
        display: block;
        border: 3px solid rgb(68, 68, 68);
        color: white;
        font-size: 2rem;
        text-align: center;
        align-content: center;
    }
}

.bounce{
    animation: bounce 1s ease;
}
.shrink{
    animation: shrink 1s ease;
}
.shake{
    animation: shake 0.5s ease;
}
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-30%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes shake {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(10%);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes shrink {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.02);
    }
    100% {
        transform: scaleY(1);
    }
}

footer{
    font-size: 0.5rem;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

footer a{
    color: white;
}

.endScreen{
    visibility: hidden;
    position: absolute;
    top: -5%; left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content; height: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: white;
    color: black;
}
